.menu__item{
    list-style: none;
    margin-right:3rem;
    font-size: 2rem;
}
.menu__item a{
    color: #ffffff;
    text-decoration: none; 
    font-weight: bold;
}
.menu__item a:hover{
    color: #d3d6e0;
    text-decoration: overline;
}